[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = yes
[req_distinguished_name]
CN = 10.2.7.5
[v3_req]
subjectAltName = @alt_names
[alt_names]
IP.1 = 10.2.7.5
DNS.1 = fogserver_proxmox
